body {
  margin: 0;
  font-family: 'poppins';
  line-height: 2.5;
  -webKit-font-smoothing:antialiased;
  -moz-osx-smothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
